/* -----------------------header----------------------- */

/* -----------------------main------------------------- */
#carta-gerada {
    display: flex;
    justify-content: space-around;
}

/* -----------------------footer----------------------- */
