* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  list-style-type: none;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: wheat;
}

#container {
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
}

#title {
  margin: 25px;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

#carta-texto {
  border: 0;
  border-radius: 10px;
  padding: 5px;
}

#criar-carta {
  height: 25px;
  width: 60px;
  border: 0;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(211, 164, 102);
}

#letter-section {
  background-color: white;
  border-radius: 30px;
}

#carta-gerada {
  word-wrap: break-word;
  line-height: 120px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('./images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skew(10deg);
}

.skewright {
  transform: skew(-10deg);
}
